<h2>Add new company</h2>
<div>
  <form (ngSubmit)="save()">
    <div>
      <p>Company id: </p>
      <input type="text" class="company-name" [(ngModel)]="company.name" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
      <input type="text" class="company-description" [(ngModel)]="company.description" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="update-button">save !</button>
  </form>
</div>

<h2>Show all companies</h2>
<div><button (click)="getAllCompanies()">Show all companies</button></div>

<div>
  <div *ngFor="let company of companies">
    <form (ngSubmit)="update(company)">
      <div>
        <p>Company id: {{company.id}}</p>
        <input type="text" class="company-name" [(ngModel)]="company.name" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <input type="text" class="company-description" [(ngModel)]="company.description" [ngModelOptions]="{standalone: true}">
      </div>
      <button type="submit" class="update-button">update</button>
    </form>
  </div>
</div>
