<h2>Add new company</h2>
<section class="new">
  <form (ngSubmit)="save()" class="submit-form">
    <div class="form-item">
      Company name:
      <input type="text" class="company-name" [(ngModel)]="company.name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-item">
      Description:
      <input type="text" class="company-description" [(ngModel)]="company.description" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="submit-button">save!</button>
  </form>
</section>

<h2>Show all companies</h2>
<div><button (click)="getAllCompanies()">Show all companies</button></div>

<section>
  <div *ngFor="let company of companies">
    <form (ngSubmit)="update(company)" class="update-form">
      <div>
        <input type="text" class="update-input" [(ngModel)]="company.name" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <input type="text" class="update-input" [(ngModel)]="company.description" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="buttons">
        <button type="submit" class="update-button">update</button>
        <button (click)="deleteCompany(company.id)" class="submit-button">delete</button>
      </div>
    </form>
  </div>
</section>
