.logo {
  max-width: 75px;
}

.nav-container {
  background-color: #000000;
  padding: 15px 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  min-width: 500px;
  display: flex;
  justify-content: space-around;
}

.nav-button {
  padding: 10px 20px;
  font-weight: bold;
  color: black;
  background-color: white;
  border-radius: 8px;
}
