<h2>Add new pollution</h2>
<section>
  <form (ngSubmit)="save()" class="submit-form">
    <div class="form-item">
      Company name:
      <select class="company-name" [(ngModel)]="pollutionForSave.companyName" name="companyName" required>
        <option *ngFor="let company of companies" [value]="company.name">{{ company.name }}</option>
      </select>
    </div>
    <div class="form-item">
      Pollutant name:
      <select class="company-description" [(ngModel)]="pollutionForSave.pollutantName" name="pollutantName" required>
        <option *ngFor="let pollutant of pollutants" [value]="pollutant.name">{{ pollutant.name }}</option>
      </select>
    </div>
    <div class="form-item">
      value pollution
      <input type="text" class="company-description" [(ngModel)]="pollutionForSave.valuePollution" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-item">
      year
      <input type="text" class="company-description" [(ngModel)]="pollutionForSave.year" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="submit-button">save !</button>
  </form>
</section>





<h2>Show all pollution</h2>
<div><button (click)="getAllPollutionForShow()">Show all pollution</button></div>

<section>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>company name</th>
      <th>pollutant name</th>
      <th>value pollution</th>
      <th>year</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let poll of pollutionsForShow">
      <td>{{ poll.id }}</td>
      <td>{{ poll.companyName }}</td>
      <td>{{ poll.pollutantName }}</td>
      <td>{{ poll.valuePollution }}</td>
      <td>{{ poll.year }}</td>
    </tr>
    </tbody>
  </table>
</section>
